.App {
  text-align: center;
  
}

.InfoForm{
  padding: 50px;
  background: rgb(249, 244, 244);
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}